 body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
 }
 
 .header {
    display: flex;
    align-items: center;
    background: linear-gradient(80deg, #672280 2%, #A626D3 100%);
    padding: 1%;
 }

 .header img {
    width: 250px;
 }

 .header-project {
    margin-left: auto;
    display: flex;
    align-items: end;
    color: white;
 }

section {
    margin-top: 4%;
}

section{
    margin: auto;
    place-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2%;
}

.label-top {
    text-align: left;
    font-size: 24px;
}

.label-bottom {
    text-align: left;
    font-size: 24px;
}

label{
    margin-left: 25%;
}

input {
    margin: auto;
    padding: 2%;
    width: 300px;
    font-size: 18px;
}

input::placeholder{
    font-size: 18px;
}

.input-top-text {
    grid-column: 1;
    grid-row: 2;
}

.input-bottom-text {
    grid-column: 2;
    grid-row: 2;
}

.btn-section {
    border: 0;
    padding: 2%;
    margin-top: 5%;
    grid-area: unset;
    margin-left: 25%;
    color: white;
    width: 150%;
    background: linear-gradient(80deg, #672280 2%, #A626D3 100%);
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: 400ms ease background;
}

.btn-section:hover{
    background: linear-gradient(50deg, #672280 100%, #A626D3 2%);
}

.btn-image-span {
    position: absolute;
    content: url("./images/icon.png");
    left: 62%;
    height: 20px;
    width: 20px;
}


.principal-image {
    position: relative;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
    width: fit-content;
}

.meme {
    max-width: 100%;
}
    
.top-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 0;
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000,
     0 -4px 0 #000, 4px 4px #000, 
     -4px -4px 0 #000, 4px -4px 0 #000, 
     -4px 4px 0 #000;
     margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.down-text {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 0%;

    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000,
     0 -4px 0 #000, 4px 4px #000, 
     -4px -4px 0 #000, 4px -4px 0 #000, 
     -4px 4px 0 #000;
     margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


